<footer>
  <div class="container">
    <nav id="footer">
      <h1>{{@site.title}}</h1>
      <p>{{@site.description}}</p>
      {{#if @blog.navigation}}
        {{navigation}}
      {{/if}}
    </nav>
  </div>
</footer>
