<header>
  <a id="site-title" href="/">{{@site.title}}</a>
  <div class="flex-grow"></div>
  <nav id="bar-nav" role="menu">
    {{navigation}}
  </nav>
  <button class="open-main-nav toggle-main-nav"><i class="fas fa-bars fa-lg"></i></button>
</header>
<nav id="main-nav" role="menu">
  <div class="align-right" style="padding: 1.2em 1.0em;">
    <button class="close-main-nav toggle-main-nav"><i class="fas fa-times fa-lg"></i></button>
  </div>
  {{navigation}}
</nav>
