<a href="{{url}}" class="card {{#if large}}card-large{{/if}}">
  {{#if feature_image}}
    <div class="post-card-image" style="min-height: 200px; background-image: url({{feature_image}}); background-size: cover; background-position: center; border-radius: 3px 3px 0 0;"></div>
  {{/if}}
  <div class="card-content">
    <h4 class="title">{{title}}</h4>
  </div>
  <div class="card-footer"></div>
</a>
