{{!< default}}
{{!-- inject everything in this file into the {body} of default.hbs --}}


{{!-- about the club --}}
<div class="">
    {{!-- club photo (page primary photo) --}}
    {{!-- about blurb (page content) --}}
    {{!-- scheduled runs (page content) --}}
</div>

{{!-- featured routes --}}
<div class="">
    
</div>

{{!--  --}}
<div class="">

</div>

