@import url('./base.css');

/* Clean up: was in the Ghost code injector */

/* use condensed font for the headers */
h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* space out cards a bit more? */
.card {
  margin: 0.8em;
}

/* small card */
.card.card-small {
  flex: 1 1 150px;
}
.card.card-small .card-content {
  padding: 1.0em 1.2em;
}
.card.card-small .card-content .primary {
  font-size: 1.2em;
  margin: 0.4em 0;
}
.card.card-small .card-content .secondary {
  line-height: 1.2;
}

/* make the title bar bigger on bigger screens */
@media screen and (min-width: 700px) {
  body>header a#site-title {
    font-size: 1.4em;
  }

  body>main {
    padding-top: 82px;
  }

  button.toggle-main-nav,
  button.toggle-main-nav:hover{
    font-size: 1.0em;
    padding: 0.6em 0.8em 0.4em 0.8em;
  }
}

/* fix image size and position in posts and pages */
.container img {
  padding: 0;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}
img.profile {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.container figure {
  text-align: center;
  margin-bottom: 1em;
}
.container figure img {
  text-align: center;
  margin-bottom: 1em;
  max-height: 480px;
}
figcaption {
  font-style: italic;
  font-size: 0.9em;
}

section.about {
  text-align: center;
}

section.about p {
  font-size: 1.2em;
  margin: 1em auto;
  max-width: 600px;
}

/* Home */

section.home header {
  background: rgba(0, 175, 88, 0.75);
  color: rgb(240, 240, 240);
  margin: 1em 0;
}
section.home header p,
section.home header a,
section.home header h1,
section.home header h2,
section.home header h3,
section.home header h4,
section.home header h5,
section.home header h6 {
  color: rgb(240, 240, 240);
}
section.home header h1,
section.home header h2,
section.home header h3,
section.home header h4,
section.home header h5,
section.home header h6 {
  color: rgb(240, 240, 240);
  font-family: "Roboto Condensed", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  padding: 1em;
  text-transform: uppercase;
}

/* Post */

body.post-template>main {
  background: rgb(255, 255, 255);
}

header.post-header {
  margin-bottom: 30px;
  text-align: center;
  background: rgba(0, 175, 88, 0.8);
  padding: 1.6em;
  box-shadow: inset 0px -6px 8px rgba(0, 0, 0, 0.1)
}
header.post-header h1,
header.post-header p,
header.post-header time {
  color: rgb(255, 255, 255);
}
header.post-header h1 {
  font-family: "Roboto Condensed", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section.post-author {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  color: rgba(255, 255, 255, 1.0);
}
section.post-author img.profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.4);
  margin: 0.5em;
}
section.post-author a {
  color: rgb(255, 255, 255);
  box-shadow: none;
}

section.post-content iframe.instagram-media {
  margin: 0 auto !important;
}

.post.container {
  width: 900px;
}

strong {
  font-weight: 700;
}

.post-content h1 {
  font-size: 2.0em;
}
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-size: 1.6em;
}

figure.post-header-image {
  background-size: cover;
  background-position: center;
  height: 45vh;
  width: 100vw;
}
@media screen and (max-width: 960px) {
  figure.post-header-image {
    height: 30vh;
  }
}
